* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, rgba(37, 142, 23, 0.725), rgba(21, 168, 138, 0.747));
}

.music-player {
    padding: 10px 40px 40px 40px;
    border-radius: 40px;
    max-width: 60%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(201, 220, 220);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#playlist,
#close-btn {
    border: none;
    background-color: transparent;
    color: rgb(16, 56, 126);
    font-size: 1.5rem;
    cursor: pointer;
    float: right;
    float: top;
    padding-bottom: 10px;
}

.image-container {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    border-radius: 40px;
}

#singer-image {
    width: 100%;
    border-radius: 40px;

}

.player-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

.shuffle,
.repeat {
    color: rgba(122, 121, 121, 0.764);
    cursor: pointer;
}

.forward,
.backward {
    cursor: pointer;
}

.play,
.pause {
    color: white;
    background-color: rgba(42, 42, 231);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
}

.hide {
    display: none;
}

#song-name {
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 700;
}

#singer-name {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.player-options {
    padding-top: 30px;
    padding-bottom: 20px;
}

.time {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
}

.progress-bar {
    position: relative;
    height: 5px;
    background-color: gray;
    border-radius: 5px;
}

#current-status {
    position: absolute;
    left: 0;
    top: 0;
    background-color: blue;
    height: 5px;
    border-radius: 5px;
}

.active {
    color: blue;
}



#playlist-container {
    padding: 20px;
    background-color: rgb(225, 225, 201);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
}


ul{
    width: 100%;
    height: 90%;
    list-style-type: none;
    overflow: auto;  
}

.play-colored{
    background-color: rgb(235, 235, 211);
}

ul li{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(214, 214, 190);
    cursor: pointer;
    margin-bottom: 2px;  
}

ul li:hover{
    background-color: rgb(225, 225, 201);
}

.playlist-info{
    display: flex;
      
}
.song-information{
    padding-left: 20px;
}

.playlist-image {
    width: 50px;
    height: 30px;
    border-radius: 5px;
}

.singer-name{
    float: left;
}

